 <!-- Chart.jsのグラフ-->
  <div class="wrap-chart">
    <div class="graph-wrapper">
      <canvas id="myScatterChart"></canvas>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script type="text/javascript"></script>

  <h5 id="cation">注：このグラフの傾向はあくまで「目安」です。<br>飲酒時の体調、おつまみなどによって感じ方に違いが出ることがあります。</h5>
  
  <script>
   //読み込み時の表示
   window_load();
   //ウィンドウサイズ変更時に更新
   window.onresize = window_load;
   //サイズの表示
   function window_load() {
     if(window.innerWidth < 800){
       var graph = document.getElementById("myScatterChart");
      }
    }

    // グラフ作成
    var ctx = document.getElementById("myScatterChart");
    //銘柄名, 日本酒度, 酸度, プロットカラーの取得
    var meigara = '<%== JSON.dump(@chart) %>'.slice(1).slice(0, -1).split(',');
    var x = '<%== JSON.dump(@x) %>'.slice(1).slice(0, -1).split(',');
    var y = '<%== JSON.dump(@y) %>'.slice(1).slice(0, -1).split(',');
    var color = [];

    '<%== JSON.dump(@color) %>'.slice(1).slice(0, -1).split(',').forEach(col => {
      color.push(col.slice(1,8))
    })
    
    //日本酒度(x軸)と酸度の(y軸)のオブジェクトを作成, 配列に格納
    var plots = new Array()
    for(var i in x){
      var plot = {x: parseFloat(x[i]), y: parseFloat(y[i])}
      plots.push(plot)
      }
    //プロット用のオブジェクトを生成
    var datum = new Array()
    
    var pointRadius = window.innerWidth > 800? 10 : 4
    var pointHoverRadius = window.innerWidth > 800? 10 : 4

    for(var i in meigara){
      var data = {
        label: meigara[i],
        data: [plots[i]],
        backgroundColor: color[i], //'RGBA(51, 102, 153, 1)',
        pointRadius: pointRadius,
        pointHoverRadius: pointHoverRadius,
        }
      datum.push(data)
    }

    var window_width_flag = window.innerWidth > 800;

    //グラフのオブジェクト 
    var myScatterChart = new Chart(ctx, {
      type: 'scatter', //グラフの形式
      data: { //データ
        datasets: datum 
      },
      options:{
        legend: {
          display: false,
        },
        //maintainAspectRatio: false,
        title: {
          display: true,
          text: '日本酒味傾向'
        },
        scales: {
          xAxes: [{
            scaleLabel: {
              display: window_width_flag,
              labelString: '日本酒度'
            },
            ticks: {
              suggestedMin: -35,
              suggestedMax: 35,
              stepSize: 5,
              callback: function(value, index, values){
                return  value
              }
            }
          }],
          yAxes: [{
            scaleLabel: {
              display: window_width_flag ,
              labelString: '酸度'
          },
          ticks: {
            suggestedMax: 2.5,
            suggestedMin: 0,
            stepSize: 0.5,
            callback: function(value, index, values){
              return  value
            }
          }
        }],
      },
      //ツールチップ(プロットにマウスオンしたときの表示)
      tooltips: {
        callbacks: {
          label: function (tooltipItem, data){
            return meigara[tooltipItem.datasetIndex] + "(" + tooltipItem.xLabel + "," + tooltipItem.yLabel + ")";
          }
        }
      },
    }
    });
</script>