  <!--検索用の入力欄-->
  <div class="row" id="search-row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
      <%= form_for @search, class: 'search-box', url: '/tops/search' do |f| %>
        <%= f.text_field :word, class:'search-word', list: "search_history", placeholder: '　銘柄を検索', autocomplete: 'off' %>
        <%= f.submit "検索", class: 'btn-primary search-buttom' %>
      <% end %>
    </div>
  </div>
  
  <!--ログインしていたら、検索履歴をテキストフィールドに表示-->
  <% if current_user != nil %>
    <datalist id="search_history">
      <% @search_history.each do |sh| %>
        <option><%= sh.word%></option>
      <% end %>
    </datalist>
  <% end %>