
//共通

//ナビゲーションバー
.navbar {
  height: 80px;
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
}

//日本酒通のロゴ
.logo{ 
  height: 80px;
  width: 320px;
  padding-left: 5vw;
}
ul{
  float: right;
}
li{
  display: inline-block;
  a{
    display:block;
    width:100%;
    padding: 15px;
  }
}

//アイコン
.icon-nav{
  height: 50px;
  width: 50px;
}  

//検索入力欄
.keyword{
  width: 90%;
  height: 40px;
  border-radius: 5px;
}
//検索ボタン
.search{
  width: 8%;
  height: 40px;
  border-radius: 5px;
}
.search:hover{
  box-shadow: 5px 5px 10px #E3E3E3;
}

//日本酒銘柄一つずつのサムネイル
.thumbnail:hover{
  box-shadow: 5px 5px 10px #E3E3E3;
}

.thumbnail{
  background-color: #ffffff;
  border-color: #ffffff;
 //別でidを設けて「border-color:#818487;」 
//日本酒画像
// img{
//     height: 250px;
//     width: 250px;
//     //padding-left: 20px;
//     //padding-right: 20px;
// }

//銘柄名
h4{
  margin-top: 0px;
  text-align: center;
  color: black;
  font-weight: bold;
}

#cation{
  text-align: center;
}

//イイねやコメント欄などのアイコン  
.sns-icon{
  height: 30px;
  width: 30px;
  padding: 0;
  display: inline;
}

.modal-dialog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  margin: auto;
  pointer-events: none;
}

//銘柄のデータ表示用テーブル
table{
  white-space: nowrap;
  margin-bottom: 1px;
}

th{
  text-align: left;
  vertical-align: middle;
  height: 20px;
  background-color: none;
  color: black;
}

td{
  text-align: left;
  vertical-align: middle;
  background-color: none;
  height: 20px;
  color: black;
}

.badge{
  background-color: red;
}

.modal{
  overflow-y: auto;
  max-height: 60%;
}

//「コメントを見るボタン」(登録銘柄一覧だけはsns-iconでinline-block)
.view-comment-reg{
  margin-top: 10px;
}

//コメント閲覧ボタン
.view-comment{
  display: inline;
}
//サムネイル終わり
}

//サムネイル
#single-sake{
  border-color:#818487;
  margin-bottom: 0px;
  padding:0px;
  height: 570px;
}

#thumbnail-sake{
  padding: 0px;
}

//検索フォーム付きの一覧共通 top/index,top/result
// body{
  
// }

#search-form{
  margin-top: 100px;
}

.index-with-search{
  margin-top: 50px;
  padding: 0px -15px;
}

.index-row{
  margin-right: 10px;
  margin-left: 10px;
}

//top_result
.result-index-wrapper{
  margin-top: 50px;
}

//マイページ mypages/index

//タブメニューをナビゲーションから出す
.index-under-tab{
  margin-top: 50px;
}

.tab-menu{
  padding-top: 100px;
}

canvas{
  background-image: image-url('taste.png');
  background-size: 94% 80%;
  background-position: 85% 55%;
  background-repeat: no-repeat;
}

.graph-wrapper{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

h5{
  text-align: center;
}

h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('#');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

//ユーザー新規登録画面 users/new &ログイン画面 session/new
.users-new-wrapper { //全体
  width: 100vw;
  height: 100vh;
  background-image: image-url('users_new_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container { //登録フォーム
    padding-top: 120px;

    .form-group {
      margin-bottom: 10px;
    }
  }
}

.form-control {
  height: 45px;
}

//alert
.alert { 
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

//日本酒の銘柄登録、修正画面

//新規登録画面
.jsake-wrapper{
  padding-top: 60px;
}

.jsake-title{
  text-align: center;
  margin-bottom: 20px;
}

.file_field{
  margin-bottom: 20px;
}
//comment_new

.comment-new-wrapper{
  padding-top: 100px;
  padding-bottom: 50px;
  
}

.text-center{
  margin: -20px;
  padding-bottom: 30px;
}


.top-pagination{
  margin-top: -50px;
}

//comment-show
.comment-show{
  padding-left: 20px;
}

.comment-list{
  width:600px;
  height:600px;
  overflow:auto;
}

.comment-single{
  border-bottom: solid 1px #d3d3d3;
}

.comment-user-name{
  font-weight: bold;
}

input[type=checkbox] {
  transform: scale(1.5);
}
//スマートフォン用CSS
@media screen and (max-width:800px) { 
    /*　画面サイズが480pxからはここを読み込む　*/

//日本酒通のロゴ
.logo{ 
  height: 80px;
  width: 40vw;
  padding-left: 5vw;
}


li{
  display: inline-block;
  a{
    padding: 15px 5px;
  }
}

//アイコン
.icon-nav{
  height: 50px;
  width: 10vw;
} 

//検索入力欄
.keyword{
  width: 80%;
  height: 40px;
  border-radius: 5px;
}
//検索ボタン
.search{
  width: 16%;
  height: 40px;
  border-radius: 5px;
}
//グラフの背景
canvas{
  background-image: image-url('taste.png');
  background-size: 81% 68%;
  background-position: 85% 59%;
  background-repeat: no-repeat;
  /*width: 345px;
  height: 600px;
  background-image: image-url('taste.png');
  background-size: 280px 545px;
  background-position: 90% 7%;
  background-repeat: no-repeat;
  */
}

.graph-wrapper{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.comment-list{
  margin: 0 auto;
  width:300px;
  height:400px;
  overflow:auto;
}








}