
//共通

//ナビゲーションバー
.navbar {
  height: 80px;
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
}

//日本酒通のロゴ
.logo{ 
  height: 70px;
  width: 320px;
  padding-left: 100px;
}

//アイコン
.icon-nav{
  height: 50px;
  width: 50px;

}  

.icon-reg{
  height: 50px;
  width: 50px;
} 

//アイコンの右空間
.icon-set{
  padding-right: 100px;
}


//検索入力欄
.keyword{
  width: 90%;
  height: 40px;
  border-radius: 5px;
}
//検索ボタン
.search{
  width: 8%;
  height: 40px;
  border-radius: 5px;
}
.search:hover{
  box-shadow: 5px 5px 10px #E3E3E3;
}

//日本酒銘柄一つずつのサムネイル
.thumbnail:hover{
  box-shadow: 5px 5px 10px #E3E3E3;
}

.thumbnail{
  background-color: #ffffff;
  border-color: #ffffff;
  
//日本酒画像
img{
    height: 250px;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}

//銘柄名
h4{
  margin-top: 0px;
  text-align: center;
  color: black;
  font-weight: bold;
}

//イイねやコメント欄などのアイコン  
.sns-icon{
  height: 30px;
  width: 30px;
  padding: 0;
  display: inline;
}

.modal-dialog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  margin: auto;
  pointer-events: none;
}

//銘柄のデータ表示用テーブル
table{
  white-space: nowrap;
  margin-bottom: 1px;
}

th{
  text-align: center;
  vertical-align: middle;
  height: 20px;
  background-color: none;
  color: black;
}

td{
  text-align: center;
  vertical-align: middle;
  background-color: none;
  height: 20px;
  color: black;
}

.badge{
  background-color: red;
}

//「コメントを見るボタン」(登録銘柄一覧だけはsns-iconでinline-block)
.view-comment-reg{
  margin-top: 10px;
}

//コメント閲覧ボタン
.view-comment{
  display: inline;
}


}

//検索フォーム付きの一覧共通 top/index,top/result
body{
  background-color: #ebf6f7;
}


.form-inline{
  margin-top: 100px;
}

.index-with-search{
  margin-top: 50px;
}

.index-row{
  margin-right: 10px;
  margin-left: 10px;
}

//top_result
.result-index-wrapper{
  margin-top: 50px;
}

//マイページ mypages/index

//タブメニューをナビゲーションから出す
.index-under-tab{
  margin-top: 50px;
}

.tab-menu{
  padding-top: 100px;
}

.tab-content{
  background-color: #ebf6f7;
}

canvas{
  background-image: image-url('graph.png');
  background-size: 740px;
  background-position: 90% 7%;
  background-repeat: no-repeat;
}

.graph-wrapper{
  margin-top: 50px;
  padding-bottom: 210px;
  display: flex;
  justify-content: center;
}

h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('#');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

//ユーザー新規登録画面 users/new &ログイン画面 session/new
.users-new-wrapper { //全体
  width: 100vw;
  height: 100vh;
  background-image: image-url('users_new_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container { //登録フォーム
    padding-top: 120px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.form-control {
  height: 45px;
}



//alert
.alert { 
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

//日本酒の銘柄登録、修正画面

//新規登録画面
.jsake-wrapper{
  padding-top: 80px;
}

.jsake-title{
  text-align: center;
  margin-bottom: 20px;
}

.file_field{
  margin-bottom: 20px;
}
//comment_new

.comment-new-wrapper{
  padding: 100px;
  
  
}

.text-center{
  margin: -20px;
  padding-bottom: 30px;
}

